.h1,
.p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.app-container {
  background: linear-gradient(to bottom, #f56565, #f6e05e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #2d3748;
}

.search-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  right: 30px;
  color: rgb(47, 0, 76);
  pointer-events: none;
}

.search-input,
.task-input {
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #cbd5e0;
  border-radius: 5px;
  width: 80%;
}

.task-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.task-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.task-text.completed {
  color: white;
}

.task-item.completed .task-text .check-icon {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.task-item.completed .task-text .check-icon-rotate {
  transform: rotate(360deg);
}

.task-item {
  background-color: #edf2f7;
  color: #2d3748;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}
.check-icon {
  margin-right: 10px;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transform: rotate(0 deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.task-item.completed {
  background-color: #68d391;
  text-decoration: line-through;
  color: white;
}

.task-item:hover {
  background-color: #adaeb1;
}

.task-item.completed .check-icon {
  opacity: 1;
  transform: rotate(360deg);
}

.add-task-btn {
  background-color: #78069e;
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.plus-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}
.add-task-btn:hover {
  background-color: #570b84;
}

.add-task-btn:hover .plus-icon {
  transform: rotate(90deg);
}

.delete-icon {
  color: #2d3748;
  cursor: pointer;
  margin-left: 10px;
}

.delete-icon:hover {
  color: red;
}

.modal {
  background: linear-gradient(to bottom, #f56565, #f6e05e);
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin: 2rem auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-task-btn {
  background-color: #570b84;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-task-btn:hover {
  background-color: #833d96;
}

.cancel-btn {
  background-color: #570b84;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn:hover {
  background-color: #833d96;
}
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
